@import 'normalize';
@import '_variables';
@import '_footer';
@import '_blog';
@import '_contact';
@import '_index';

/* General styling */
// html { font-size: calc(1em + 1vw) }

img {
    display: block;
    max-width: 100%;
}
h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1em }
button {
    margin:0;
    padding:0;
    border:none;
}
p {
    @include lora(14px, 24px, 0.3px, $brownGrey, left);
}
* {
    list-style:none;
}
ul, li {
    padding:0;
    margin:0;
}
a {
    text-decoration: none;
    color:inherit;
}
a.green { // button
    padding:25px 0;
    width:33%;
    margin:0 auto;
    background-color: $green;
    @include raleWay(16px, 16px, 0.3px, $white);
}

.wrapper {
    margin:0 auto;
    max-width:1169px;
    display:flex;
    flex-direction: column;
}

.wrapper > section {
    flex: 1;
    padding:18px 0;
}
.wrapper > section:not(:nth-child(6)) {
    padding:36px 0;
}

.wrapper > section:not(:nth-child(1n+5)) {
    border-bottom:1px solid $border;
}

/* Header */
header.blog {
    background-image: url(../assets/blog-1.jpeg);
    height:$headerBlog;
}
header.contact {
    background-image: url(../assets/contact-1.jpeg);
    height:$headerContact;
}
header.home {   
    background-image: url(../assets/home-1.jpeg);
    height:$headerHome;
}
header.blog, header.contact, header.home {
    background-repeat: no-repeat;
    background-color: #565866;
    background-position: center;
    background-size:cover;
    div.wrapper {
        margin:0 auto;
        max-width:1775px;
        .headerContent {
            display: flex;
            flex-direction: column;
            margin-top:45px;
            height: 100%; /* Takes a height because the container is 100vh*/
            
            h1 {
                @include raleWay(46px, 24px, 1.1px, $black);  
            }
            
            nav.topBar {
                display: flex;
                justify-content: space-between;
            }
            
            .logo {
                flex: 1.35;
            }
            
            ul.nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 1;
            }
            
            ul.nav li {
                @include raleWay(16px, 16px, 1px, $black);
                margin:0;
                i {
                    font-size:22px; 
                }
                a {
                    position: relative; 
                }
                a:hover {
                    color:$blackTwo;
                }
                .cart {
                    position: absolute;
                    background-color: $green;
                    width:22.5px;
                    height:22.5px;
                    border-radius: 50%;
                    top:5px;
                    left:12.5px;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    @include raleWay(13px, 13px, 0.3px, $white);
                }
                .active, .active:hover {
                    color:$green;
                    cursor: default; 
                }
            }
        }
    }
    
}