@import 'normalize';
@import '_variables';
@import '_footer';
@import '_blog';

/* General styling */
img {
    display: block;
}
button {
    margin:0;
    padding:0;
    border:none;
}
p {
    @include lora(14px, 24px, 0.3px, $brownGrey, left);
}
* {
    list-style:none;
}
ul, li {
    padding:0;
    margin:0;
}
a {
    text-decoration: none;
    color:inherit;
}
.wrapper {
    margin:0 auto;
    max-width:1169px;
    display:flex;
    flex-direction: column;
}

.wrapper > section {
    flex: 1;
    padding:18px 0;
}
.wrapper > section:not(:nth-child(6)) {
    padding:36px 0;
}

.wrapper > section:not(:nth-child(1n+5)) {
    border-bottom:1px solid $border;
}

/* Header */
header.blog {
    background-image: url(../assets/blog-1.jpeg);
    height:$headerBlog;
}
header.contact {
    background-image: url(../assets/contact-1.jpeg);
    height:$headerContact;
}
header.blog, header.contact {
    background-repeat: no-repeat;
    background-color: #565866;
    background-position: center;
    background-size:cover;
    div.wrapper {
        margin:0 auto;
        max-width:1775px;
        .headerContent {
            display: flex;
            flex-direction: column;
            margin-top:45px;
            height: 100%; /* Takes a height because the container is 100vh*/
            
            h1 {
                @include raleWay(46px, 24px, 1.1px, $black);  
            }
            
            nav.topBar {
                display: flex;
                justify-content: space-between;
            }
            
            .logo {
                flex: 1.35;
            }
            
            ul.nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 1;
            }
            
            ul.nav li {
                @include raleWay(16px, 16px, 1px, $black);
                margin:0;
                i {
                    font-size:22px; 
                }
                a {
                    position: relative; 
                }
                a:hover {
                    color:$blackTwo;
                }
                .cart {
                    position: absolute;
                    background-color: $green;
                    width:22.5px;
                    height:22.5px;
                    border-radius: 50%;
                    top:5px;
                    left:12.5px;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    @include raleWay(13px, 13px, 0.3px, $white);
                }
                .active, .active:hover {
                    color:$green;
                    cursor: default; 
                }
            }
        }
    }
    
}

/* CONTACT PAGE WRAPPER */
.wrapper1 {
    display: grid;
    grid-template-columns:
      1fr
      calc(min(1169px, 100%))
      1fr;
  }
  .wrapper1 > section {
    grid-column: 2;
    width: 1169px;
    max-width:1169px;
    margin: 0 auto;

    display:grid;
    grid-template-columns: 2.25fr 1fr;
    gap:30px;
    h2 {
        @include raleWay(24px, 24px, 0.5px, $blackTwo);
        margin-bottom:60px;
    } 
    h3 {
        margin-top:75px;
        @include raleWay(20px, 20px, 0.5px, $blackTwo);
        margin-bottom:25px;
    } 
    .form {
        padding:90px 0;

        form.commentForm {
            
            display:grid;
            grid-template-columns: [col] 1fr [col] 1fr;
            grid-template-rows: [row] auto [row] auto [row] auto [row];
            gap:30px;

            

            input[type="text"], textarea {
                border:1px solid $contactGrey;
                padding: 15px 15px;
                grid-row: row;
                background-color: $contactGrey;
                @include lora(14px, 24px, 0.3px, $brownGrey, left);
                font-weight: bold;
            }
            #name {
                grid-row: row;
            }
            #email {
                grid-column: col 2;
                grid-row: row;
            }
            #subject {
                grid-column: col / span 2;
                grid-row: row 2;
            }
            textarea {
                grid-column: col / span 2;
                grid-row: row 3;
                min-height:244px;
                resize: vertical;
            }
            button {
                grid-column: col;
                grid-row: row 4;
                
                display:flex;
                width:50%;
                align-items:center;
                padding:15px 0;
                background-color: transparent;
                @include raleWay(16px, 16px, 0.3px, $green);
                i {
                    margin-left:10px;
                    font-size:20px;
                }
            }
        }
    }

    .details {
        background-color:$contactGrey;
        padding:90px 25px;
        grid-column: 2;

        .spacing {
            margin:25px 0;
        }

        .italic {
            font-style: italic;
            color:$lightGrey;
        }

        .days {
            @include raleWay(13px, 13px, 0px, $blackTwo, "normal");
        }
        
    }

  }
  .full-bleed {
    width: 100%;
    grid-column: 1 / 4;
  }
  .right {
      background-color: $contactGrey;
  }